html {
  height: 100%;
}


/*body {*/
/*min-height: 100%;*/
/*background-color: ghostwhite;*/
/*position: relative;*/
/*padding-bottom: 200px*/
/*}*/

.row {
  margin-bottom: 0;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 200px;
  min-width: 100%;

}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 66.6%;
}

.text-red {
  color: #df405a!important;
}

.text-center {
  margin: 0;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.space-bot {
  margin-bottom: 35px;
}

.space-top {
  margin-top: 35px;
}

/* Title */

h1 {
  color: white;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
  text-align: center;
}

/* Sign Up */

.sign-container {
  min-width: 300px;
  min-height: 100px;
  max-width: 300px;
  max-height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.alert-danger {
  text-align: center;
}

.signup-screen {
  padding: 20px 20px 40px;
  background-color: #3b668c;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
  color: white;
}

.text-green {
  color: #3fc8c0;
}

.text-white {
  color: white;
}

.picker {
  padding: 10px;
}

.subject {
  background-color: #3fc8c0;
}

input {
  max-height: 200px !important;
}

span {
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}

.right {
  top: 0;
  left: 100%;
}

.cancel {
  background-color: #df405a;
}

.cancel:hover {
  background-color: #f0435f;
}

.cancel:focus {
  background-color: #f0435f;
}

.input-group {
  width: 100%;
}

a{
  color: white;
}

a:hover{
  color: #1e79ff!important;
}

.input-group .ng-invalid {
  border: 2px solid #e74c3c;
  border-radius: 3px;
}

/* Error Box */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: 1px solid #e85a71;
  background-color: #e85a71;
  color: white;

}

input {
  margin: 0 !important;
}

p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11pt; /* Размер шрифта в пунктах */
}

.input-field {
  margin-bottom: 0px;
  margin-top: 0;
}

.help-block {
  font-size: 12px;
  color: white
}

.error {
  color: #e85a71;
  padding-left: 5px;
  margin: 0;

}

.errors {
  padding: 15px;
}

.word {
  padding-left: 5px;
}

.user-container {

  padding: 20px;
  background-color: #1d293d;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .3);
  color: white;

}

.info {
  padding: 10px;
}

.newsbrief {
  overflow: hidden
}

.photo {

  max-height: 80px;
  max-width: 80px;
}

.image {
  max-height: 100%;
  max-width: 100%;
}

.border-red {
  border: 3px solid red;
}

.break {
  padding-bottom: 10px !important;
  margin-bottom: 10px !important;
}
p{
  width: 100%;
}
hidden{
  display: none;
}

button{
  width: 100%;
  color: #fff;
}
.file {

}
.file label {

  color: #fff;
  transition: all .4s;
}
.file input {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
.file input:hover + label,
.file input:focus + label {

}



/* Useless styles, just for demo styles */

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #7F8C9A;
  background: #FCFDFD;
}
h1, h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  color:#aaa;
}
h2 {
  margin: 5px 0 2em;
  color: #1ABC9C;
}
form {
  width: 225px;
  margin: 0 auto;
  text-align:center;
}
h2 + P {
  text-align: center;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}



@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.card {

  border: 2px solid black;
  margin: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  background-color: white;
  border-radius: 0;
  box-shadow: none;
}

.card ul{
  margin: 0;
}

.card li{
  color: #1d293d;
}

.card a{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #1ABC9C;
}


.margins{

  margin: 0 auto!important;
}
