<div class="section no-pad-bot" id="index-banner" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row center">
      <h5 class="header col s12 light">Централизованная система поступления</h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Централизованная система поступления</h5>

          <p class="light center"> Подача документов в разные университеты, используя один сайт</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Статистика</h5>

          <p class="light center">Сбор статистики, проходных баллов</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h5 class="center">Выбор</h5>

          <p class="light center">Быстрая смена выбора</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row center">
    <a routerLink="/register"
       class="btn"><span>Get Started</span></a>
  </div>
  <br><br>
</div>
