<app-user-subject *ngFor="let subject of userSubjects" (onRemoved)="removeFromUserSubjects($event)"
                  [subject]="subject"></app-user-subject>

<div>
  <div class="row">
    <div class="col s12 m12">
      <input [(ngModel)]="searchStr" class="form-control" placeholder="Search" title="search" type="text">
    </div>
  </div>

  <div class="flex-container">
    <app-subject *ngFor="let subject of subjects | search:searchStr:userSubjects" [subject]="subject"
                 (click)="onUserSubjectsChange(subject)"></app-subject>
  </div>

</div>

