<div *ngIf="user"  class="card col s12 m12 l12">
  <div class="row">

    <div class="user col s6 m6 l4">
      <a class="" [routerLink]="['/users/'+user.id]">
        {{ user.name + " " + user.lastname + " " + user.patronymic}}
      </a>
      <a [routerLink]="['/groups/' + user.groupId]"> selected Group</a>
    </div>


    <div class="col s3 m3 l4">
      <a class="text-green" (click)="confirm()">confirm</a>
    </div>

    <div class="col s3 m3 l4">
      <a class="text-red" (click)="cancel()">cancel</a>
    </div>

  </div>
</div>
